.box {
    color: white;
}

.error {
    color: "#b58900";
}

.background {
    background-color: '#1d2129';
}

input {
    background-color: transparent;
    border: none;
    color: white;
    width: 15px;
}

.incorrect {
    background-color: red;
}

.correct {
    background-color: green;
}